In [ ]:
print(l2)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# l1 = [0,1,2,3,4,5,6,7,8,9]
l2 = []
for i in range(0,10):
  l2.append(i)
print (l2)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
print(l2)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
a= 'new'
b= 'delhi'
a+' '+b

'new delhi'

In [ ]:
m = 'capital of india is delhi'
'india'in m

True

In [ ]:
a=new

In [ ]:
x<y

True

In [ ]:
l1 = [0,1,2,3,4,5,6,7,8,9]
l2 = []
for i in range(0,10):
   l2.append(i)
print (l2)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
x= '200'
y= '33'
x>y

False

In [ ]:
if (x>y):
  print('x is greaten than y')
else:
    print('x is less than y')

x is less than y

In [ ]:
x= 'cats come from tiger family'
str(x)

'cats come from tiger family'

In [ ]:
'tiger' in x

True

In [ ]:
x.upper()

'CATS COME FROM TIGER FAMILY'

In [ ]:
x.lower()

'cats come from tiger family'

In [ ]:
x.split()

['cats', 'come', 'from', 'tiger', 'family']

In [ ]:
x= (1,5,9,6,13)
def
  print('result')

In [ ]:
a= ):
  multiplication=a*2
  return multiplication

SyntaxError: ignored

In [ ]:
def summation(a,b):
  sum=a+b
  return(sum)
summation(5,4)

9

In [ ]:
#[01]Write a Python program to sum all the items
a= [1,7,-10,34,2,-8]
sum= 0
for i in a :
  sum+=i
print(sum)

26

In [ ]:
# multiplication of numbers
x= '2'
y= '3'
z= '4'
prod=0
def multiplication(x,y,z):
 x=int(x)
 y=int(y)
 z=int(z)
 prod= x*y*z
 return prod

In [ ]:
multiplication(x,y,z)

24

In [ ]:
int(z)

4

In [ ]:
x='2'
int(x)

2

In [ ]:
 prod= int(x)*int(y)*int(z)
 print(prod)

24

In [ ]:
def summation(a,b):
 sum= a+b
 return sum

In [ ]:
summation(5,6)

11

In [ ]:
def multiplication(x,y):
  prod= x*y
  return prod

In [ ]:
multiplication(5,7)

35

In [ ]:
x= 'manasa'

In [ ]:
x[0]

'm'

In [ ]:
x[0:6]

'manasa'

In [ ]:
a= 'praneeth'
b= 'kumar'
print(a,b)

praneeth kumar

In [ ]:
a= 'python'
b= 'is a'
c= 'programming'
d= 'language'
print(a,b,c,d)

python is a programming language

In [ ]:
print(a+' '+b+' '+c+' '+d)

python is a programming language

In [ ]:
from IPython.core.profiledir import ProfileDir
x=5
print(f'position 1 {x}')
def multiplication(x,y):
  print(f'position 2 {x}')
  z=10
  x=40
  print(f'position 3 {x}')
  prod = x*y*z
  return prod
print(multiplication(x,6))
print(f'position 4 {x}')

position 1 5
position 2 5
position 3 40
2400
position 4 5

In [ ]:
x = '2'
y = '3'
z = '4'

def multiplication(x,y,z):
  x= int(x)
  y= int(y)
  z= int(z)
  prod=x*y*z
  return prod

In [ ]:
 multiplication(x,y,z)

24

y= 'programming'
for i in y:
  print(i)

In [ ]:
y = 'madugulamanasa'
for i in range(0,len(y)):
  print(i)
  print(y[i])

0
m
1
a
2
d
3
u
4
g
5
u
6
l
7
a
8
m
9
a
10
n
11
a
12
s
13
a

In [ ]:
range(0,len(y))

range(0, 15)

In [ ]:
print(y[2])

d

In [ ]:
for i in range(0,len(y)):
  print(i)
  print(y[i])

0
m
1
a
2
d
3
u
4
g
5
u
6
l
7
a
8

9
m
10
a
11
n
12
a
13
s
14
a

In [ ]:
x='dog ran out of the house'
print('dog' in x)

True

In [ ]:
x[6:9]

'n o'

In [ ]:
x= 'canvas'

In [ ]:
x[::-1]

'suriv sras htiw detceffa si 01divoc'

In [ ]:
x[::-1]

'savnac'

In [ ]:
x[-6:-1]

' viru'

In [ ]:
y= 'rome is city'
y= int(x)

In [ ]:
prdt(x)

2

In [ ]:
x= "covid10 is affected with sars virus"
letters= 'a-z'
len()

35

In [ ]:
len("number of letters in 'x'")

24

In [ ]:
x= 'romeiscity'
vowels=0
consonants=0
for i in range(0,len(x)):
  if((x[i] =='a')or(x[i]=='e')or(x[i]=='i')or(x[i]=='o') or (x[i]=='u')):
    vowels= vowels+1
  else:
    consonants= consonants+1
print("totalvowels=",vowels)
print("totalconsonants=",consonants)

totalvowels= 4
totalconsonants= 6

In [ ]:
y='covid10 is affected with sars virus'
letters=0
for i in range(0,len(y)):
  if(y[i]=='a 'or 'b'or'c'or'd'or'e'or'f'or'g'or'h'or'i'or'j'or'k'or'l'or'm'or'n'or'o'or'p'or'q'or'r'or's'or't'or'u'or'v'or'w'or'x'or'y'or'z'):
    letters=letters+1
  else:
   numeric
print("count letters= ",letters)

count letters=  35

In [ ]:
z= '@pyTh)nl0bb!Y34'
def count(z):
 lower= 0
 upper= 0
 numeric= 0
 special= 0
 for i in range(0,len(z)):
  if z[i].islower():
    lower=lower+1
  elif z[i].isupper():
    upper=upper+1
  elif z[i].isdigit():
    numeric=numeric+1
  else:
    special=special+1
print("count lower=",lower)
print("count upper=",upper)
print("count numeric=",numeric)
print("count special=",special)

NameError: ignored

In [ ]:
name=['snowball','chewy','bubbles','gruff']
animal=['cat','dog','fish','goat']
age=[1,2,2,6]
for x,y,z in zip(name,animal,age):
  print(f'{x} {y} is {z}')

snowball cat is 1
chewy dog is 2
bubbles fish is 2
gruff goat is 6

In [ ]:
l1=[100,200,300,400,500]
l1[ ::-1]

[500, 400, 300, 200, 100]

In [ ]:
l1=["m", "na","i","ke"]
l2=["y","me","s","lly"]
a=[]
for x,y, in zip(l1,l2):
  k=x+y
  a.append(k)
  "".join(a)

In [ ]:
a

['my', 'name', 'is', 'kelly']

In [ ]:
from posixpath import join
list1=["hello","take"]
list2=["dear","son"]
a=[]
for i in list1:
  for j in list2:
    k=i+" "+j
    a.append(k)

In [ ]:
a

['hello dear', 'hello son', 'take dear', 'take son']

In [ ]:
l1=[10,20,30,40]
l2=[100,200,300,400]
rl2=l2[::-1]
for i,j in zip(l1,rl2):
  print(i,j)

10 400
20 300
30 200
40 100

In [ ]:
l2=["mike", "","emma","kelly","","brad"]
a=[]
for i in l2:
  if(len(i)==0):
   l2.remove(i)
print(l2)

['mike', 'emma', 'kelly', 'brad']

In [ ]:
print(l2)

['kelly', '', 'brad']

In [ ]:
l1=[10,20,300,40,5000,600,500,30,40,10,20,300,400,5000,6000,7000,500,30,40]
l1.append(7000)

In [ ]:
print(l1)

[10, 20, 300, 40, 5000, 600, 500, 30, 40, 10, 20, 300, 400, 5000, 6000, 7000, 500, 30, 40, 7000]

False

In [ ]:
l2=[10,20,300,400,5000,6000,7000,500,30,40]
l1=[20]
for i in range(0,len(l2)):
  if(l2[i] == 20):
   l2[i]=200
print(l2)

[10, 200, 300, 400, 5000, 6000, 7000, 500, 30, 40]

In [ ]:
for i in range(0,len(l2)):
  if l2[i]==20:
    l2[i]=200
    break
print(l2)

['mike', 'emma', 'kelly', 'brad']

In [ ]:
l2

['mike', 'emma', 'kelly', 'brad']

In [ ]:
l2=[10,20,[300, 400,[5000,6000],500],30,40],[10, 20 ,[300, 400,[ 5000,6000,7000],500],30,40]
for i in range(0,len(l2)):
  if(l2[i]== 20):
   l2.remove(i)
print(l2)

([10, 20, [300, 400, [5000, 6000], 500], 30, 40], [10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40])

In [ ]:
l2

([10, 20, [300, 400, [5000, 6000], 500], 30, 40],
 [10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40])

In [ ]:
tuple=("apple","banana","cherry","apple","cherry")
len(tuple)

5

In [ ]:
type(tuple)

tuple

In [ ]:
if ("apple" in tuple):
  print('present')

present

In [ ]:
tuple.append('orange')

NameError: ignored

In [ ]:
l1= list(tuple)
l1.append('orange')
thistuple= tuple(l1)

TypeError: ignored

In [ ]:
for i in tuple:
  print(i)

apple
banana
cherry
apple
cherry

In [ ]:
# [02] wapp to multiply all the items in a list
b=[3,4,5,4,7]
product=1
for i in b:
  product*=i
print(product)

1680

In [ ]:
#[03] to get a largest number from a list
m=[1,7,10,34,2,8]
max= i
for i in m:
   if i > max :
    max=i
print("largest number=",max)

largest number= 34

In [ ]:
#[04] smallest number in a list
p=[51,7,1034,2,8]
min=i
for i in p:
  if i< min:
    min=i
print("smallest number=",min)

smallest number= -8

In [ ]:
#[05] first and last character are same and no of strings length is 2 or more
r=["madem","3643","bab","2442"]
ch=0
for i in r:
  if len(i)>1 :
   r[0] == r[-1]
  ch += 1
print(ch)

4

In [ ]:
#[06] to remove duplicates from a list
a=[1,2,3,7,2,1,5,6,4,8,5,4]
uniq=set(a)
print(uniq)

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
#[07] check a list is empty or not
n=[34,45,6,5,4,56,7]
if(n ==0):
  print('empty')
else:
  print('non empty')

non empty

In [ ]:
#[08] to clone or copy the list
e=[10,22,44,23,4]
e.copy()

[10, 22, 44, 23, 4]

In [ ]:
s=list(e)
print("e=",s)
print("s=",e)

e= ['manasa', 'chikly', 'manu', 'laddu']
s= ['manasa', 'chikly', 'manu', 'laddu']

In [ ]:
#[09] to find list of words that are greater than n from a given list of words
n=5
e=["manasa","chikly","manu","laddu"]
newlist=[]
for i in e:
  if(len(i)> n):
    newlist.append(i)
print(newlist)

['manasa', 'chikly']

In [ ]:
#[10]that get two lists as input and check if they have atleast one common member
t=[1,2,3,4,5]
h=[5,6,7,8,9]
common=[]
for i in t:
  for j in h:
   if (i==j):
    common.append(i)
print("lists have atleast one common member=",common)

lists have atleast one common member= [5]

In [ ]:
#[10]
t=[1,2,3,4,5]
h=[5,6,7,8,9]
l1=[]
for i in t:
  for j in h:
   if(i==j):
    l1.append(i)
    result=True
   elif result:
     print("list have atleast one common value")
   else:
     print("list do not have common values")

list have atleast one common value

In [ ]:
#[11] to print a specified list after removing the 0th,4th,5thelements
k=["cat","dog","elephant","fox","tigr","lion","panda"]
for i in k:
  x=k[0] and k[4] and k[5]
k.remove(x)

In [ ]:
k

['dog', 'elephant', 'fox', 'panda']

In [ ]:
#[14]to generate and print a list of first and last 5 elements where the values are square of numbers between 1 and 30
u=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30]
sqr=[]
for i in u:
  if(i**2):
   sqr.append(i**2)
print("first 5 elements=",sqr[:5])
print("last 5 elements=",sqr[-5:])

first 5 elements= [1, 4, 9, 16, 25]
last 5 elements= [676, 729, 784, 841, 900]

sets are unordered
unchageable
unindexed

In [ ]:
#[16]to convert a list of characters into a string
a=["t","u","t","o","r","j","o","e","s"]

In [ ]:
a1=" ".join(a)

In [ ]:
a1

't u t o r j o e s'

In [ ]:
#[17]to find the index of an item in a specified list
r=[20,70,30,90,10,30,90,10,80]
r.index(30)

2

In [ ]:
#[19]to add a list to the second list
a=["cat","dog","lion","panda"]
b=[10,20,30,40]
print(a+b)

['cat', 'dog', 'lion', 'panda', 10, 20, 30, 40]

In [ ]:
#[20]to select an item randomly from a list Using random.choice()


import random
n=["cat","dog","elephant","fox","tiger","lion","panda"]
print(random.choice(n))

elephant

In [ ]:
#[21] two lists are circularly identical
l1=[8,8,12,12,8]
l2=[8,8,8,12,12]
l3=[1,8,8,12,12]
print("compare l1 and l2=", ' '.join(map(str,l2)) in ' '.join(map(str,l1*2)))
print("compare l1 and l3=", ' '.join(map(str,l3)) in ' '.join(map(str,l1*2)))

compare l1 and l2= True
compare l1 and l3= False

In [ ]:
b=[2,4,56,78,4,34,5,8,9]
min = i
second = i
for i in range(0,len(b)):
 if b[i]<min :
  min=b[i]
for i in range(0,len(b)):
  if b[i] !=min and b[i]< second:
    second=b[i]
print("second smallest number=",second)

second smallest number= 4

In [ ]:
list=[82,4,56,78,4,34,5,100,9]
max=i
second=i
for i in range(0,len(list)):
  if list[i]>i:
    max=list[i]
for i in range(0,len(list)):
  if list[i]!=max and b[i]>second:
   second=b[i]
print("second largest number=",second)

second largest number= 78

In [ ]:
m=[82,4,10,56,78,4,34,5,10,9]
uniq= set(m)
print("unique numbers=",uniq)

unique numbers= {34, 4, 5, 9, 10, 78, 82, 56}

In [ ]:
import collections
x=[10,30,50,10,20,60,20,60,40,40,50,50,30]
def  countfrequency(x):
  return collections.counter(x)
print(countfrequency(x))

AttributeError: ignored

In [ ]:
k=['T','J']
n = 10
list = ['{}{}'.format(a,b) for b in range(1,n+1) for a in k]
print(list)

['T1', 'J1', 'T2', 'J2', 'T3', 'J3', 'T4', 'J4', 'T5', 'J5', 'T6', 'J6', 'T7', 'J7', 'T8', 'J8', 'T9', 'J9', 'T10', 'J10']

In [ ]:
x= 30
s= 'tutor joes'
print(id(x))
print(id(s))

132428510348432
132427240255536

In [ ]:
a= [23,45,67,78,89,34]
b= [34,89,55,56,39,67]
k=[set(a) & set(b)]
print(k)

[{89, 34, 67}]

In [ ]:
y=[1,2,4,3,6,7,5,8,9,7,8,9,10]
oddnumbers=[]
for i in y:
  if(i%2==1):
    oddnumbers.append(i)
print(oddnumbers)

[1, 3, 7, 5, 9, 7, 9]

In [ ]:
z=[10,20,30,50,80,70,70,80,10]
set(z)

{10, 20, 30, 50, 70, 80}

In [ ]:
len(set(z))

6

In [ ]:
m=[2,1,2,4,6,4,3,2,1]
k= set(m)

In [ ]:
k

{1, 2, 3, 4, 6}

In [ ]:
prod= 1
for i in k:
  prod*=i
print(prod)

144

In [ ]:
from IPython.core.interactiveshell import re
a=[4,5,6,7,3,9]
i,j=3,10
result= True
for k in a:
  if( k<i or k>=j):
    result= False
    print("does list contain all alements in range=",result)

In [ ]:
result

'true'

In [ ]:
# [35] three consecutive numbers
a=[18,18,18,6,3,4,9,9,9]
for i in range(0,len(a)-2):
  if a[i] == a[i+1] == a[i+2]:

    print("consecutive numbers=",a[i])

consecutive numbers= 18
consecutive numbers= 9

In [ ]:
a=[10,20,30,20,30,400]
a2=[]
for i in range(0,len(a)):
  r= max(a[i] ,a[i-1])
  a2.append(r)
for i in a2:
  print(i,end=" ")

400 20 30 30 30 400

In [ ]:
a="find the list of words that are longer than n from a given list of words"
b=[]
n=4
txt=a.split(" ")
for i in a:
  if len(i) > n:
   b.append(i)
   print(b)

In [ ]:
b

[]

dictionaries
1. mustv be in {}
2. key:value(pairs)
3. to access values in the dictionary, we need to use keys
4. pop is used to remove key
5. nested dictionaries
  my family={"child1" :{"name":"emil","year":"2004"},
             "child2" :{'name

In [ ]:
thisdict={"brand"="ford",mode}

In [ ]:
a={1:2,3:4,4:3,2:1,0:0}
b={}
for i in  a:
  if a.key():
    a[i<1],a[i+1]
    b.append(i)
    print(b)

AttributeError: ignored

In [ ]:
dict1 ={"name":"ram","age":"23"}
dict2 ={"city":"salem"}
key = list(dict2.keys())
value=list(dict2.values())
print(key)
dict1[key[0]]=value[0]

['city']

In [ ]:
dict1

{'name': 'ram', 'age': '23', 'city': 'salem'}

In [ ]:
dict1={1:2,3:4,4:3,2:1,0:0}
dict2={}
for i in sorted(dict1):
  dict2[i]=dict1[i]

In [ ]:
print(dict2)

{0: 0, 1: 2, 2: 1, 3: 4, 4: 3}

In [ ]:
dict1={1:2,3:4,4:3,2:1,0:0}
dict2=dict(sorted(dict1.items(),key=lambda x:x[1]))
print(dict2)

{0: 0, 2: 1, 1: 2, 4: 3, 3: 4}

In [ ]:
dict1={1:2,3:4,4:3,2:1,0:0}
dict2=dict(sorted(dict1.items(),key=lambda x:x[1] , reverse = True))
print(dict2)

{3: 4, 4: 3, 1: 2, 2: 1, 0: 0}

In [ ]:
dict={"name":"ram","age":23}
dict1={"city":"salem","gender":"male"}
dict.update(dict1)
print(dict)

{'name': 'ram', 'age': 23, 'city': 'salem', 'gender': 'male'}

In [ ]:
dict={'name':'ram','age':23}
if 'name' in dict:
  print('key is available in the dictionary')
else:
  print('key is not available in the dictionary')

key is available in the dictionary

In [ ]:
dict={"name":"ram","age": 23,"city":"salem","gende":"male"}
for i,j in dict.items():
  print(i,': ',j)

name :  ram
age :  23
city :  salem
gende :  male

In [ ]:
d = dict()
n=5
for i in range(1,n+1):
  d[i]=i*i
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [ ]:
d= dict()
n=5
for i in range(1,n+1):
  d[i]=i**2
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [ ]:
dict1={"name":"ram","age":23}
dict2={"city":"salem","gender":"male"}
dict1.update(dict2)
print(dict1)

{'name': 'ram', 'age': 23, 'city': 'salem', 'gender': 'male'}

In [ ]:
dict1={1:23,2:45,3:-17,4:87}
print(sum(dict1.values()))

138

In [ ]:
dict1={"name":"pooja","age":23,"gender":"female","city":"salem","marks":488}
print(dict1.keys())

dict_keys(['name', 'age', 'gender', 'city', 'marks'])

In [ ]:
dict1={'name':'pooja','age':23,'gender':None,'mark':488,'city':None}
dict2={key:value for (key,value) in dict1.items() if value is not None}
print(dict2)

{'name': 'pooja', 'age': 23, 'mark': 488}

In [ ]:
dict={"sam":{"M1":89,"M2":56,"M3":89},"suresh":{"M1":49,"M2":96,"M3":89}}
for i in dict:
  print(i)
  for j in dict[i]:
    print(j,":",dict[i][j])

sam
M1 : 89
M2 : 56
M3 : 89
suresh
M1 : 49
M2 : 96
M3 : 89

In [ ]:
dict={'A':[1,2,3,4,5,6,7,8,9,10],'Y':[11,12,13,14,15,16,17,18,19,20],'Z':[21,22,23,24,25,26,27,28,29,30]}
for k,v in dict.items():
  print(k,'=',v)

A = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Y = [11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
Z = [21, 22, 23, 24, 25, 26, 27, 28, 29, 30]

In [ ]:
A={'tamil':92,'english':56,'maths':88,'science':97,'social':89}
B={'tamil':78,'english':68,'maths':88,'science':97,'social':55}
for (key,value)in set(A.items()).intersection(B.items()):
 print('%s: %s is present in bot A and B'%(key,value ))

science: 97 is present in bot A and B
maths: 88 is present in bot A and B

In [ ]:

a={'tamil':92,'maths':88,'science':89,'social':89,'english':56}
A=set(a.items())

In [ ]:
b=(sorted(A),reverse == True)
print(b)

NameError: ignored

In [ ]:
dict={'M1':[67,79,90,73,36],'M2':[89,67,84],'M3':[82,57]}
total=sum(map(len,dict.values()))
print(total)

10

In [ ]:
dict={'name':'ram','age':32,'city':'salem'}
print(dict.keys( )>={'age','name'})

True

In [ ]:
print(dict.keys()>={'city','salem'})
print(dict.keys()>={'city','ram'})

False
False

In [ ]:
quit()

In [ ]:
keys=["one","two","three","four","five"]
values=[1,2,3,4,5]
for i,j in zip(keys,values):
  x= dict(zip(keys,values))
print(x)

{'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5}

In [ ]:
x={"name":"ram","age":25,"city":"salem"}
y={"gender":"male","mark":422,"percent":84.4}
for i,j in zip(x.items(),y.items()):
 result= dict(x.items()|y.items())
print(result)

{'gender': 'male', 'name': 'ram', 'mark': 422, 'city': 'salem', 'age': 25, 'percent': 84.4}

In [ ]:
a=["siva","sam"]
b={"designation":"student","department":"BCA"}
result=dict.fromkeys(a,b)
print(result )

{'siva': {'designation': 'student', 'department': 'BCA'}, 'sam': {'designation': 'student', 'department': 'BCA'}}

In [ ]:
dict={'name':'ram','age':23,'city':'salem','gender':'male','mark':450}
dict.pop('gender','city')
print(dict)

{'name': 'ram', 'age': 23, 'city': 'salem', 'mark': 450}

In [ ]:
a={'name':'tara','rollno':130046,'mark':458,'age':16}
a['mark10']=a.pop('mark')
a['regno']=a.pop('rollno')
print(a)

{'name': 'tara', 'age': 16, 'mark10': 458, 'regno': 130046}

In [ ]:
b="tutor joe's computer education"

In [ ]:
dict={"computer":"software","education":"solution"}
a=b.split()
res=[]
for i in a:
  res.append(dict.get(i,i))
res=' '.join(res)
print(res)

tutor joe's software solution

In [ ]:
dictionary={"name":"tara","rollno":130046,"mark":450,"age":16,"gender":"female","city":"salem"}
print(dictionary.keys())

dict_keys(['name', 'rollno', 'mark', 'age', 'gender', 'city'])

In [ ]:
for k in dictionary.keys():
  print(" ",k)

  name
  rollno
  mark
  age
  gender
  city

In [ ]:
for i in dictionary.values():
  print(" ",i)

  tara
  130046
  450
  16
  female
  salem

In [ ]:
quit()

In [ ]:
quit()

In [ ]:
d={"m1":78,"m2":89,"m3":64,"m4":35,"m5":71}
d1=sorted(d.items(),key=lambda x:x[1])
print(d1)

[('m4', 35), ('m3', 64), ('m5', 71), ('m1', 78), ('m2', 89)]

In [ ]:
dict1={"m1":78,"m2":89,"m3":64,"m4":35,"m5":71}
v=dict1.values( )
max=max(v)
min=min(v)
print(max)
print(min)

89
35

In [ ]:
dict1={"m1":78,"m2":89,"m3":64,"m4":35,"m5":71}
print(sum(dict1.values()))

337

In [ ]:
a=[1,2,3]
b=[]
for i in a:
  for j in a:
    for k in a:
      if i != j and j != k and k != i:
        b.append((i,j,k))
print(b)
for z in b:
  print(z[0], z[1], z[2])

[(1, 2, 3), (1, 3, 2), (2, 1, 3), (2, 3, 1), (3, 1, 2), (3, 2, 1)]
1 2 3
1 3 2
2 1 3
2 3 1
3 1 2
3 2 1

In [ ]:
# [18] flattern a shallow list
a=[[20,30,70],[30,90,10],[30,20],[70,90,10,80]]
b=[ ]
for i in a:
  for j in i:
    b.append(j)
print(b)

[20, 30, 70, 30, 90, 10, 30, 20, 70, 90, 10, 80]

In [ ]:
# [25] frequency of the elements in a list
from collections import Counter
a=[10, 30, 50, 10, 20, 60, 20, 60, 40, 40, 50, 50, 30]
y=Counter(a)
print(y)

Counter({50: 3, 10: 2, 30: 2, 20: 2, 60: 2, 40: 2})

In [ ]:
#[40] to remove all the occurances of an elememnt from a list
a=[1,3,4,6,5,1]
b=1
a=[x for x in a if x!=b]

In [ ]:
print(a)

[3, 4, 6, 5]

In [ ]:
quit()

In [ ]:
#[41] to remove cosecutive elements
a=[('A','B','C','D'),('B','C','C','I'),('H','D','B','C'),('C','C','G','F')]
k='c'
for i in a:
  for j in i:
   res=[ i for i in a if not any (i[j]==k and i[j+1]==k for j in range(len(i)-1))]
print(res)

[('A', 'B', 'C', 'D'), ('B', 'C', 'C', 'I'), ('H', 'D', 'B', 'C'), ('C', 'C', 'G', 'F')]

In [ ]:
#[42] to replace index elements with elements in other list
a=['tutor joes','computer','education']
b=[2,1,0,1,0,2,2,0,1,0,1,2]
for i in a:
  for i in b:
   res=[a[i] for i in b]
print(res)

['education', 'computer', 'tutor joes', 'computer', 'tutor joes', 'education', 'education', 'tutor joes', 'computer', 'tutor joes', 'computer', 'education']

In [ ]:
#[43] to retain records with n occurences of k
a=[(4,5,6,5,4),(4,5,3),(5,5,2),(3,4,)]
k= 5
n= 2
res=[i for i in a if i.count(k)==n]
print(res)

[(4, 5, 6, 5, 4), (5, 5, 2)]

In [ ]:
#[44] to swap elements in a list
a=['tutor','joes','computer','education']
for i in a:
 res=[i.replace("joes","joe's")]
 res=[i.replace("computer","software")]
 res=[i.replace("education","solutions")]
 print(res)

['tutor']
['joes']
['computer']
['solutions']

In [ ]:
#[45] to reverse all strings in the list
l1=['tutor','joes','computer','education']
b= [i[::-1] for i in l1]

In [ ]:
print(b)

['rotut', 'seoj', 'retupmoc', 'noitacude']

In [ ]:
l1[::-1]

['education', 'computer', 'joes', 'tutor']

In [ ]:
#[46] to find the character position of kth word from  a list of strings
b=['tutor','joes','computer','education']
k=20
for i in enumerate(b):
  c= list(b)
print(c)

['tutor', 'joes', 'computer', 'education']

In [ ]:
''.join(c)

'tutorjoescomputereducation'

In [ ]:
c[k]

IndexError: ignored

In [ ]:
#[47] to prefix frequency in string list
b=['tjc','tjcpp','tjpython','java']
k='tj'
count=0
for i in b:
  if i.startswith(k):
    count=count+1
print(count)

3

In [ ]:
quit()

In [ ]:
#[48] to split strings on prefix occurence
b=['tjc','tjcpp','tjpython','java','tj']
k='tj'
res=[]
for i in b:
  if i.startswith(k):
    res.append(i)
print(str(res))

['tjc', 'tjcpp', 'tjpython', 'tj']

In [ ]:
#[49] to replace all characters of a list expect given character
a=['p','y','t','h','o','n']
b=[i if i=='t'else '@'for i in a]
print(b)

['@', '@', 't', '@', '@', '@']

In [ ]:
#[50] to add space between potential words
a=['tutorjoes','computereducations']
" ".join(a)

'tutorjoes computereducations'

In [ ]:
a=[1,7,-10,34,2,-8]
sum=0
for i in a:
  sum=sum+i
  print(sum)

1
8
-2
32
34
26